/*--------- COLORS ---------*/
$black: #000000;
$black-1: #161616;

$grey: #c4c4c4;
$grey-2: #616161;
$grey-3: #e5e5e5;
$white: #ffffff;
$white-2: #f8f8f8;

$main: #4747ff;
$main-2: #3330ff;
$main-3: #d3dbff;
$main-4: #3b3bd3;

$navy: #1c1a9e;

$fogged: #9f9fff;

$text-darken: #0f172c;

$gradient-blue: linear-gradient(180deg, #7575ff 0%, #3330ff 100%), #3330ff;

/*--------- FONT ---------*/

$bold: 700;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$light: 300;

@mixin font-set($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: calc(#{$font-size} + 12px);
}

@mixin regular($font-size) {
  @include font-set(#{$font-size}px, $regular);
}
@mixin medium($font-size) {
  @include font-set(#{$font-size}px, $medium);
}
@mixin semi-bold($font-size) {
  @include font-set(#{$font-size}px, $semi-bold);
}
@mixin bold($font-size) {
  @include font-set(#{$font-size}px, $bold);
}
@mixin light($font-size) {
  @include font-set(#{$font-size}px, $light);
}

/*--------- MIXINS ---------*/

@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin vertical-center() {
  @include prefix(display, flex);
  @include prefix(flex-direction, column);
  @include prefix(justify-content, center);
}
@mixin center-center() {
  @include prefix(display, flex);
  @include prefix(align-items, center);
  @include prefix(justify-content, center);
}
@mixin center-vertical() {
  @include prefix(display, flex);
  @include prefix(align-items, center);
}

@mixin flex($justify: flex-start, $dir: row, $wrap: wrap) {
  @include prefix(display, flex);
  @include prefix(justify-content, $justify);
  @include prefix(flex-direction, $dir);
  @include prefix(flex-wrap, $wrap);
}

@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number
    {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin size($args) {
  @each $o in width height {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) {
      #{$o}: nth($args, $i + 1);
    }
  }
}

@mixin set-transition(
  $type,
  $duration: 300ms,
  $timing-function: ease,
  $delay: 0s,
  $repeat: infinite
) {
  transition: $type $duration $timing-function $repeat;
  -moz-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
  -moz-transition-timing-function: $timing-function;
  -webkit-transition-timing-function: $timing-function;
  -o-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
  -moz-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -o-transition-delay: $delay;
}

@mixin border-radius-set($args) {
  @each $o in top-left top-right bottom-left bottom-right {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) {
      border-#{$o}-radius: nth($args, $i + 1);
    }
  }
}

@mixin border-set($width: 1px, $color: #{$box-border}, $radius: 0px) {
  border-width: $width;
  border-color: $color;
  border-radius: $radius;
  border-style: solid;
}

@mixin absolute($args) {
  @include position(absolute, $args);
}

@mixin fixed($args) {
  @include position(fixed, $args);
}

@mixin relative($args: '') {
  @include position(relative, $args);
}

@mixin sticky() {
  @include position(sticky);
}

/*--------- ELEVATION ---------*/

@mixin elevation-box-main() {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.14), 0px 1px 22px rgba(0, 0, 0, 0.12),
    0px 2px 8px rgba(0, 0, 0, 0.2);
}

@mixin elevation-box-sub() {
  box-shadow: 0px 0px 9px 3px rgba(204, 204, 204, 0.5);
}

@mixin elevation-hover-blue() {
  box-shadow: 0px 2px 4px rgba(116, 95, 255, 0.3),
    0px 2px 10px rgba(116, 95, 255, 0.3);
}

@mixin elevation-hover-red() {
  box-shadow: 0px 2px 4px rgba(255, 107, 107, 0.3),
    0px 2px 10px rgba(255, 107, 107, 0.3);
}

@mixin elevation-box-grey() {
  box-shadow: 2px 2px 15px rgba(196, 196, 196, 0.3);
}

/*--------- Buttons ---------*/

@mixin button-sm() {
  width: 102px;
  height: 28px;
  border-radius: 4px;
  border: solid 1px transparent;
  text-align: center;
  span {
    @include bold(12);
    line-height: 24px;
  }
}

@mixin button-md() {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px transparent;
  text-align: center;
  span {
    @include bold(14);
    line-height: 32px;
  }
}

@mixin button-lg() {
  width: 124px;
  height: 48px;
  border-radius: 8px;
  border: solid 1px transparent;
  text-align: center;
  span {
    @include bold(16);
    line-height: 48px;
  }
}

@mixin button-login($size: 'md') {
  @if $size == 'sm' {
    @include button-sm;
  } @else if $size == 'md' {
    @include button-md;
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  background-color: $navbar-selected;
  border-color: $navbar-selected;
  color: $white;
}

@mixin button-normal($size: 'md') {
  @if $size == 'sm' {
    @include button-sm;
  } @else if $size == 'md' {
    @include button-md;
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  background-color: $box-highlight;
  border-color: rgba($core, 0.5);
  color: $core;

  &:hover {
    background-color: $box-highlight;
    border-color: rgba($core, 1);
    color: $core;
  }

  &.selected {
    background-color: $core;
    border-color: rgba($core, 1);
    color: $white;
  }
}

@mixin button-highlight($size: 'md') {
  @if $size == 'sm' {
    @include button-sm();
  } @else if $size == 'md' {
    @include button-md();
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  background-color: $primary-sub;
  border-color: $primary-sub;
  color: $white;
}
@mixin button-back($size: 'md') {
  @if $size == 'sm' {
    @include button-sm();
  } @else if $size == 'md' {
    @include button-md();
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  background-color: $box-grey;
  border-color: $box-border;
  color: $text-lighten-2;
}
@mixin button-download($size: 'md') {
  @if $size == 'sm' {
    @include button-sm();
  } @else if $size == 'md' {
    @include button-md();
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  border-color: $text-lighten;
  background-color: $white;
  color: $text-lighten;
}

@mixin button-delete($size: 'md') {
  @if $size == 'sm' {
    @include button-sm();
  } @else if $size == 'md' {
    @include button-md();
  } @else if $size == 'lg' {
    @include button-lg;
  } @else {
    @include size($size);
  }
  background-color: rgba($status-hold, 0.2);
  border-color: rgba($status-hold, 0.2);
  color: $status-hold;

  &:hover {
    background-color: rgba($status-hold, 0.2);
    border-color: rgba($status-hold, 0.5);
    color: $status-hold;
  }

  &.selected {
    background-color: $status-hold;
    border-color: $status-hold;
    color: $white;
  }
}

/*--------- Media Query ---------*/

$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;

@mixin mobile {
  @media only screen and (max-width: #{$breakpoint-tablet - 0.01px}) {
    .hidden-mobile {
      display: none !important;
    }
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 0.01px}) {
    .hidden-tablet {
      display: none !important;
    }
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$breakpoint-desktop}) {
    .hidden-desktop {
      display: none !important;
    }
    @content;
  }
}
